{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <script type="text/javascript">
        var domain = 'https://apps.facebook.com/',
            redirectURI = domain + {{ FACEBOOK_APP_NAMESPACE }} +'/';

        window.top.location = 'https://www.facebook.com/dialog/oauth/' +
            '?client_id={{ FACEBOOK_KEY }}' +
            '&redirect_uri=' + encodeURIComponent(redirectURI) +
            '&scope={{ FACEBOOK_EXTENDED_PERMISSIONS }}';
    </script>
{% endblock %}